.navbar-form.navbar-left
	= form_tag root_path, :method => 'get', role: 'search' do
		.input-group
			= text_field_tag :search, params[:search], placeholder: 'Search...', class: 'form-control'
			%span.input-group-btn
				%button.btn.btn-default{ :type => "submit" }
					%span.glyphicon.glyphicon-search{ :'aria-hidden' => "true" }
//		= submit_tag "Search", :name => nil, class: "btn btn-default"

//.form-inline
//  = form_tag pins_path, :method => 'get' do
//    .form-group
//      = text_field_tag :search, params[:search], placeholder: 'Search...', class: 'form-control'
//      = submit_tag "Search", :name => nil, class: "btn btn-default"